PMAK_API=PMAK_APIexmaplejfhgfg

JWT_SECRET=expample_secret_key

MONGO_URI=mongodb://<db_username>:<password>@ac-4v0zvr8-shard-00-00.9kdzosg.mongodb.net:27017,ac-4v0zvr8-shard-00-01.9kdzosg.mongodb.net:27017,ac-4v0zvr8-shard-00-02.9kdzosg.mongodb.net:27017/?ssl=true&replicaSet=atlas-pkc30a-shard-0&authSource=admin&appName=clustertask1

